[submodule "lib/libjpeg"]
	path = lib/libjpeg
	url = https://github.com/winlibs/libjpeg.git
[submodule "lib/libtiff"]
	path = lib/libtiff
	url = https://github.com/libsdl-org/libtiff.git
[submodule "lib/libpng"]
	path = lib/libpng
	url = https://github.com/pnggroup/libpng.git
	branch = libpng16
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib.git
	branch = develop
